<div class="card border-success ancho" >
    <div class="card-header">
        <h1>Información de la App</h1>
    </div>
    <div class="card-body bg-success">
        <p>Este sitio web ha sido desarrollado por los estudiantes de
           la carrera de Maestría en Sistemas Computacionales del
           Instituto Tecnológico de Zacatecas
        </p>
        <div class="text-center">
            &copy; Copyright JILV 2022 
        </div>
    </div>
</div>