<div class="col-md-3">
    <div class="card text-dark bg-light border-info mb-3">
        <div class="card-header">
            <h4 class="card-title">
                Error
            </h4>
        </div>
        <div class="card-body">
            <p>Error en el sistema, consulte al administrador 
               para resolver este problema</p>
        </div>
    </div>
</div>