<div class="card border-success ancho">
    <div class="card-header">
        <h1>Aplicación de notas con NodeJS y MongoDB</h1>
    </div>
    <div class="card-body bg-success">
        <p class="card-text">Bienvenidos a nuestra aplicación de notas</p>
        <p>Este es un sitio web para el registro de notas de usuarios
            donde cada usuario tendrá un almacen de notas de manera
            independiente
        </p>
    </div>
</div>