
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand me-auto" href="/">Notas App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto m-3"><!--Barra de navegación alineada a la izquierda -->
          {{#if usuario}}
              <li class="nav-item">
                <small class="text-white"><a>Bienvenido: 
                  <i class="far fa-user"></i> {{usuario.nombre}}</a></small>
              </li>
          {{/if}}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!--Barra de nav alineada a la derecha-->
        {{#if usuario}}  <!-- Si existe un valor en usuario o usuario = true --> 
            {{#unless usuario.tipo}} <!--Valida que el usuario.tipo = 0 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fas fa-users"></i>
                       Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                        <li>
                           <a class="dropdown-item" href="/users">
                               <i class="fas fa-user-friends"></i> Listar usuarios
                           </a>  
                        </li>
                        <li>
                           <a class="dropdown-item" href="/users/add">
                               <i class="fas fa-user-plus"></i> Agregar usuario
                           </a>  
                        </li>
                    </ul>
                </li>
            {{/unless}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="far fa-file-alt"></i>
                   Notas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href="/notes">
                          <i class="far fa-copy"></i> Listar notas
                       </a>
                   </li>
                   <li><a class="dropdown-item" href="/notes/add">
                          <i class="far fa-file"></i> Agregar Nota
                       </a>
                   </li>
                   <li>
                      <a class="dropdown-item" href="/notes/search">
                         <i class="fas fa-search"></i> Buscar notas
                      </a>
                   </li>
                   <li><hr class="dropdown-divider"></li>
                   <li><a class="dropdown-item" href="/users/logout">
                          <i class="fas fa-sign-out-alt"></i> Salir
                       </a>
                   </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">
                   <i class="far fa-question-circle"></i> Info
                </a>
            </li>
        {{else}}
              <li class="nav-item">
                  <a class="nav-link" href="/users/signin">
                     <i class="fas fa-sign-in-alt"></i> Iniciar
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/users/signup">
                     <i class="fas fa-user-plus"></i> Registrar
                  </a>
              </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>